@import "../../styles/variables";

.content {
    position: absolute;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
        font-size: $font-size-large;
        font-weight: 400;
        letter-spacing: 0.17px;
    }
}
