@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: $font-size-body;
    color: $text-color;
    background-color: $secondary-color;
}

a {
    color: $secondary-color;
    background-color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.main {
    display: flex;
    justify-content: space-between;
}
