.repositoryDetails {
    padding: 20px;
}

.name {
    font-size: 32px !important;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 16px;
    color: #000;
}

.languageStars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .languageChip {
        margin-right: 10px;
        background-color: #1976d2;
        color: #fff;
    }

    .stars {
        font-size: 16px;
        padding-left: 7px;
    }
}

.starsCount {
    display: flex;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;

    .tagChip {
        background-color: #e0e0e0;
    }
}

.license {
    font-size: 14px;
    color: #757575;
}
