.tableContainer {
    margin: 20px 0;
}

.MuiTableCell-root {
    padding: 16px;
}

.MuiTableSortLabel-root {
    font-weight: bold;
}

.container {
    width: 75%;
}
.selectedRow {
    background-color: #2196f30a;
}
